.hero-image {
  background-image: url('bg.jpg');
  background-repeat: none;
  background-position: top center;
  background-attachment: fixed;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: blue;
}

.white-text-header {
  color: blue;
}

.white-text-footer {
  color: blue;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

span {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

