img {
  background-repeat: none;
  background-position: top center;
  background-attachment: fixed;
  width: 1000px;
  height: 300px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: blue;
  margin-left: 295px;
}

.white-text-header {
  color: blue;
}

.white-text-footer {
  color: white;
  margin-left: 125px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

span {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.footer {
  width: 1000px;
  height: 20px;
  background-color: black;

}
